body {
    background-color: blue;
}
h1 {
    font-family:sans-serif;
    text-transform:capitalize;
}
p.bc{
    color:white;
    font-style: italic;
}
p.amsans{
    color:khaki;
    font-family: sans-serif;
}
p.nm{
    color:orange;
    font-family: monospace;
}
p.redco{
    font-family: cursive;
    color:red;

}