* {
    box-sizing: border-box;
}

html , body {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

img {
    height: 100%; 
    object-fit: contain;
}