@font-face {
    font-family: sigmar;
    src: url(sigmar-one.woff);
}
h1.titulo{
    font-family: sigmar;
    text-align: center;
}
h1.secundario{
    color: darkblue;
    text-align: left;
    font-family: sigmar;
    text-shadow: black 2px 2px;
}
body {
    background-color: rgb(218, 247, 248);
}
p{

    font-family: sans-serif;
    margin-left: 50px;
}
span.raza{
    text-decoration: underline solid black 1px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}
span.rojo{
    background-color: blanchedalmond;
    color: crimson;
}
span.azul{
    color: darkblue;
}
hr{
    height:10px;
    border:1px solid black;
    background-color: darkblue;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 15px;
    clear: both;
}
img.yorkshire{
    float: left;
    border: darkblue solid 6px;
    padding: 5px;
}
img.dogo{
    float: right;
    border: darkblue solid 6px;
    padding: 5px;
}
img.tinraton{
    border: darkblue solid 6px;
    padding: 5px;

}
p.left{
    float: left;
    width: 35%;
}
p.right{
    float: right;
    width: 35%;
}
p.img{
    text-align: center;
}